<div class="form-container" style="margin: 20px;">
  <h1>Itinerary Details:</h1>
  <p><strong>Address:</strong> <%= @itinerary.address %></p>
  <p><strong>Date:</strong> <%= @itinerary.date %></p>
  <p><strong>Start time:</strong> <%= @itinerary.start_time.strftime("%H:%M") %></p>
  <p><strong>End time:</strong> <%= @itinerary.end_time.strftime("%H:%M") %></p>
  <p><strong>Budget:</strong> <%= budget_to_s(@itinerary.budget) %></p>
  <p><strong>Interests:</strong> <%= @itinerary.interests.join(', ') %></p>

  <h2>Recommended Places:</h2>
  <% if @selected_places.any? %>
    <% @selected_places.each do |place| %>
      <div>
        <h3><%= place.name %></h3>
        <% if place.image %>
          <img src="<%= place.image %>" alt="<%= place.name %> image">
        <% end %>
        <p><strong>Address:</strong> <%= place.address %></p>
        <p><strong>Rating:</strong> <%= place.rating %></p>
        <p><strong>Description:</strong> <%= place.description %></p>
        <p><strong>Opening Hours:</strong> <%= place.opening_hours.join(', ') %></p>
        <p><strong>Phone:</strong> <%= place.phone %></p>
        <p><strong>Map Static:</strong> <%= image_tag(place.map_static) if place.map_static.present? %></p>
        <p><strong>Map Link:</strong> <%= link_to 'Google Maps', place.map_link %></p>
        <p><strong>Review Count:</strong> <%= place.review_count %></p>
        <% if place.review_samples.present? %>
          <% place.review_samples.each_with_index do |review, index| %>
            <p><strong>Review <%= index + 1 %> :</strong> <%= review %></p>
          <% end %>
        <% else %>
          <p>No reviews available</p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No places found.</p>
  <% end %>
