<div class="form-container" style="margin: 20px;">
  <h1>Itinerary Details:</h1>
  <p><strong>Address:</strong> <%= @itinerary.address %></p>
  <p><strong>Date:</strong> <%= @itinerary.date %></p>
  <p><strong>Start time:</strong> <%= @itinerary.start_time.strftime("%H:%M") %></p>
  <p><strong>End time:</strong> <%= @itinerary.end_time.strftime("%H:%M") %></p>
  <p><strong>Budget:</strong> <%= budget_to_s(@itinerary.budget) %></p>
  <p><strong>Interests:</strong> <%= @itinerary.interests.join(', ') %></p>

  <h2>Recommended Places:</h2>
  <% @places.each do |place| %>
    <p><%= place['name'] %></p>
  <% end %>

  <h2>Events:</h2>
  <% @events.each do |event| %>
    <div>
      <h3><%= event.place.name %></h3>
      <p><strong>Start time:</strong> <%= event.start_time.strftime("%H:%M") %></p>
      <p><strong>End time:</strong> <%= event.end_time.strftime("%H:%M") %></p>
    </div>
  <% end %>
</div>
